<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <resultMap id="PresentacionMap" type="models.Presentacion">
    <id column="idpresentacion" property="idPresentacion"/>
    <result column="nombre" property="nombre"/>
    <result column="descripcion" property="descripcion"/>
</resultMap>

<select id="listarPresentaciones" resultMap="PresentacionMap">
    SELECT idPresentacion, nombre, descripcion
    FROM presentacion
</select>