<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.ProductoMapper">
 
 	<resultMap id="ProductoMap" type="models.Producto">
        <id column="idproducto" property="idProducto"/>
        <result column="idcategoria" property="idCategoria"/>
        <result column="idmarca" property="idMarca"/>
        <result column="idpresentacion" property="idPresentacion"/>
        <result column="nombre" property="nombre"/>
        <result column="descripcion" property="descripcion"/>
        <result column="imagenurl" property="imagenUrl"/>
        <result column="preciounitario" property="precioUnitario"/>
        <result column="stockactual" property="stockActual"/>
        <result column="estado" property="estado"/>
    </resultMap>
  
 	 <select id="listarProductos" resultMap="ProductoMap">
        SELECT idProducto, idCategoria, idMarca, idPresentacion, nombre, descripcion,
               imagenUrl, precioUnitario, stockActual, estado
        FROM productos
        WHERE estado = '1'
    </select> 
 	
 	
 </mapper>